
<h1>Your Orders</h1>
  <div class="col-md-8">
    <% if @order.present? && @order.paid != true %>
      <h3> Your Order </h3>
      <ol class="orders">
        You have created an order on <%= @order.created_at %> 
        with <%= @order.services.count %> requested services |
        Order Number: <%= @order.id%>
      </ol>
      <p>Cost of order <%= @price%> pesos</p>
    <% else %>
    <h3>You have no orders that need to be paid</h3>
    <% end %>
  </div>
</br>

Please make a payment to the bank account 1235432514, and send us an email with the consignation and the order number to santiagopfisica@gmail.com if your payment isn't done he day before a service, the service will be cancel.</br></br>
  
  <a href=# class="btn btn-info" role="button"> Send me the email</a>