<h1>Order#order_checkout</h1>

<p>
  You have to pay the amount of 
  <%= @order.services.count * 50000 %>, to the bank account 173518349146
  please send and picture of the consignation along with the order id <%= @order.id %>
</p>
