<% provide(:title, @maid.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @maid.name %>
      </h1>
    </section>
  </aside>
    <div class="col-md-8">
    <% if @maid.services.any? %>
      <h3>Services Schedule you have (<%= @maid.services.count %>)</h3>
      <ol class="services">
        <%= render @services %>
      </ol>
    <% end %>
  </div>